<h1>Flights</h1>

<%= form_with method: :get do |form| %>
  <%= form.label :departure_airport_id, 'Departure airport:' %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code, { selected: params[:departure_airport_id], include_blank: true } , { required: true } %>
  <%= form.label :arrival_airport_id, 'Arrival airport:' %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code, { selected: params[:arrival_airport_id], include_blank: true }, { required: true } %>
  <%= form.label :passengers, 'Number of passengers:' %>
  <%= form.select :passengers, [1, 2, 3, 4], { selected: params[:passengers], include_blank: true }, { required: true } %>
  <%= form.label :start, 'Flight date:' %>
  <%= form.select :start, Flight.order(:start).pluck(:start).map {|date| date.to_date.strftime('%d/%m/%Y')}.uniq, { selected: params[:start], include_blank: true }, { required: true } %>
  <%= form.submit 'Search' %>
<% end %>

<% if params[:departure_airport_id] != nil %>
  <% if @flights.empty? %>
    <div>There are no flights available that match these filters</div>
  <% else %>
    <%= form_with url: new_booking_path, method: :get, data: {turbo: false} do |form| %>
      <ul>
        <% @flights.each do |flight| %>
          <li>
            <%= form.radio_button :flight_id, flight.id %>
            <%= form.label "flight_id_#{flight.id}", "Flight number: #{flight.id} | Departure airport: #{flight.departure_airport.code} | Arrival airport: #{flight.arrival_airport.code} | Departure: #{flight.start}" %>
          </li>
        <% end %>
        <%= form.hidden_field :passengers, value: params[:passengers] %>
        <%= form.submit 'Choose flight' %>
      </ul>
    <% end %>
  <% end %>
<% end %>
