<h1>Booking details</h1>

<h2>Flight</h2>
<ul>
  <li>Flight number: <%= @flight.id %></li>
  <li>Flight date: <%= @flight.start.strftime('%d %b %Y - %H:%M %Z') %></li>
  <li>Departure airport: <%= @flight.departure_airport.code %></li>
  <li>Destination airport: <%= @flight.arrival_airport.code %></li>
</ul>

<div data-controller='passengers'>
  <h2>Passengers</h2>
  <%= button_tag 'Add Passenger', data: { action: 'click->passengers#add' } %>
  <%= button_tag 'Remove Passenger', data: { action: 'click->passengers#remove', 'passengers-target': 'button' } %>
  <%= form_with model: @booking do |form| %>
    <ul data-passengers-target='list'>
      <%= form.fields_for :passengers do |f| %>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.email_field :email %>
        </li>
      <% end %>
    </ul>
    <%= form.hidden_field :flight_id, value: @flight.id %>
    <%= form.submit %>
  <% end %>
  <template>
    <li>
      <label>Name</label>
      <input type="text">
      <label>Email</label>
      <input type="email">
    </li>
  </template>
</div>